<div class='divider'></div>
<div class='section'>
  <div class="row">
    <div class="col s4">
      <%= link_to image_tag(movie.image.thumb.url), movie_path(movie) %>
    </div>
    <div class="col s8">
      <h5><%= link_to movie.title, movie_path(movie)%></h5> 
      <p>Release date: <%= formatted_date(movie.release_date) %></p>
      <p>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</p>
      <p><%= movie.description %></p>
      <% if movie.reviews.any? %>
        <p> Average user rating is: <%= movie.review_average %>/10 </p>
      <% end %>
    </div>
  </div>
</div>