<%= link_to "Back to all movies", movies_path %><br/>

<%= link_to image_tag(@movie.image), movie_path(@movie) %>
<h5><%= @movie.title %> </h5>
<sup>
<%= link_to "edit", edit_movie_path(@movie) %>
<%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>
</sup>
<p><%= formatted_date(@movie.release_date) %></p>
<p>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</p>
<p><%= @movie.description %></p>
<% if @movie.reviews.any? %>
  <p> Average user rating is: <%= @movie.review_average %>/10 <p>
<% end %>

<hr>

<h5>Reviews of <em><%= @movie.title %></em></h5>


<% if current_user %>
    <% @movie.reviews.each do |review| %>
    <%= render partial: 'review', locals: { review: review, user: review.user } %>
    <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
<% end %>