<h2>Admin Panel</h2>
<p>List of users below</p>
<br>
<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Create At</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.lastname %> </td>
    <td><%= user.firstname %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at %></td>
  </tr>
  <% end %>
</table>  
<hr> 
<%= paginate @users %>